body {
  margin: 0;
  background: #314d5b;
  font-family: "Lato","Helvetica","Tahoma","Geneva","Arial",sans-serif;
}

.logo-container {
  background: #1e333d;
  padding: 20px;

  a {
    color: #e6e6e6;

    svg {
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 1.41421;
      fill: #e6e6e6;

      path {
        fill: rgba(255,255,255,0.9) !important;
      }
    }
  }
}

.updates {
  background: #0092b6;
  width: 95%;
  max-width: 600px;
  margin: 40px auto;

  .actions {
    background: #0089ab;
    text-align: right;
    padding: 20px;

    a {
      background: #00a6cf;
      color: #FFF;
      border: 0;
      border-radius: 5px;
      font-size: 16px;
      padding: 8px 15px;
      margin: 0 10px;
      font-weight: 300;
      text-decoration: none;
    }
    a:last-child { margin-right: 0; }
  }

  .logging {
    padding: 20px;

    h3 {
      text-align: center;
      color: #FFF;
      font-size: 20px;
      letter-spacing: 1px;
    }

    .log {
      color: #FFF;
    }
  }

}
